<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="cart-background">
    <!-- 가운데 정렬을 위한 div -->
    <div class="inner">
      <h2>장바구니</h2>
      <table class="cart-list">
        <!-- 4행 5열 -->
        <thead>
          <tr>
          <th class="ITEM">ITEM</th>
          <th class="AMOUNT">AMOUNT</th>
          <th class="PRICE">PRICE</th>
          <th class="TOTAL">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <td>카메라</td>
          <td>1</td>
          <td>100,000</td>
          <td>100,000</td>
        </tbody>
        <tbody>
          <td>신발</td>
          <td>2</td>
          <td>59,000</td>
          <td>118,000</td>
        </tbody>
        <tfoot>
          <td>주문금액</td>
          <td>218,000</td>
        </tfoot>
      </table>
      <div class="btn-group">
        <a href="#">계속 쇼핑하기</a>
        <button type="button">구매하기</button>
      </div>
    </div>
  </div>
</body>

</html>