<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./6_product_list.css">
</head>

<body>
  <!-- 작업 순서:
    1. 상품 3개 진열부터 하고
    2. 오버레이 덮기
    3. 버튼 올리기
    4. 오바레이 슬라이드 업
  -->
  
  <div class="shop-background">
    <div class="shop-container">
      <div class="shop-item">
        <img src="./images/product1.jpg" alt="상품1">
        <div class="overlay">이 상품은...</div>
      </div>

      <div class="shop-item">
        <img src="./images/product2.jpg" alt="상품2">
        <div class="overlay">
          <button type="button" class="btn">상세보기</button>
          <button type="button" class="btn">구매하기</button>
        </div>
      </div>

      <div class="shop-item overflow-hidden">
        <img src="./images/product3.jpg" alt="상품3">
        <div class="overlay-up">
          <span>Price: $4</span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>