<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./7_naver_login.css">
</head>
<body>
  <div class="background">
    <div class="login">
      <div class="input">
        <div class="id">
          <p>
            <label class="label">아이디 또는 전화번호</label>
          </p>
          <input type="text">
        </div>
        <hr>
        <div  class="pw">
          <p>
            <label class="label">비밀번호</label>
          </p>
          <input type="password">
        </div>
      </div>
  
      <div class="btn-grop">
        <button type="button" class="btn join">로그인</button>
        <button type="button" class="btn acc">회원가입</button>
      </div>
    </div>
  </div>
</body>
</html>