div {
  width: 200px;
  height: 100px;
  background-color: orange;
}

/* Emmet */
.logo {
  /* w: 200 */
  width: 200px;
  /* h: 200 */
  height: 100px;
  /* bc: 200 */
  background-color: orange;
  
}